<header>

    <nav>
        <div class="logo">
            <h1><i class="fas fa-tshirt fa-xs"></i>NULL</h1>

        </div>
        <!--6-->
        <label id="hamburger" for="ch-menu">
            <i class="fas fa-bars fa-2x"></i>
        </label>
        <input id="ch-menu" type="checkbox">

        <ul class="main">
            <li><a class="first" href="/"><i class="fas fa-home"></i><p class = "home">Pagina principala</p></a>
                <ul class="submeniu">
                    <li><a class="second" href="/index#descriere"><i class="fas fa-arrow-right"></i>Descriere</a></li>
                    <li> <a class="second" href="/index#oferte"><i class="fas fa-arrow-right"></i>Oferte</a></li>
                    <li> <a class="second" href="/index#linkuri"><i class="fas fa-arrow-right"></i>Styling</a></li>
                    <li><a class="second" href="/index#parteneri"><i class="fas fa-arrow-right"></i>Parteneri</a></li>
                </ul>
            </li>
            <li><a class="first" href="/pagina2">Barbati</a>
                <ul class="submeniu">
                    <li><a class="second" href="index.html"><i class="fas fa-arrow-right"></i>Hanorace si geci</a></li>

                    <li> <a class="second" href="index.html"><i class="fas fa-arrow-right"></i>Tricouri</a></li>

                    <li> <a class="second" href="index.html"><i class="fas fa-arrow-right"></i>Bluze</a></li>

                    <li> <a class="second" href="index.html"><i class="fas fa-arrow-right"></i>Pantaloni</a></li>
                </ul>
            </li>

            <li><a class="first" href="index.html">Femei</a>
                <ul class="submeniu">
                    <li> <a class="second" href="index.html"><i class="fas fa-arrow-right"></i>Hanorace si geci</a></li>

                    <li> <a class="second" href="index.html"><i class="fas fa-arrow-right"></i>Tricouri</a></li>

                    <li> <a class="second" href="index.html"><i class="fas fa-arrow-right"></i>Bluze</a></li>

                    <li> <a class="second" href="index.html"><i class="fas fa-arrow-right"></i>Pantaloni</a></li>
                </ul>
            </li>

        </ul>
    </nav>

</header>